@import ".././../styles/modules.scss";

.main {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-height: 500px;
}
.column {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.img {
    width: 32%;
}

.title {
    align-self: center;
    font-size: 29px;
}
.item {
    height: 30px;
}
.itemError{
    height: 30px;
    color: red;
}
.quote{
    font-size: 1.1em;
    width: 95%;
    font-family: Open Sans;
    font-style: italic;
    color: $secondary-color;
    padding: 0.2em 30px 0.2em 55px;
    margin-top: 20px;
    border-left: 8px solid $terciary-color;
    line-height: 1.6;
    position: relative;
    background: #EDEDED;
  }
  
  .quote::before{
    font-family:Arial;
    content: "\201C";
    color: $terciary-color;
    font-size:4em;
    position: absolute;
    left: 5px;
    top:-25px;
  }
  
  .quote::after{
    content: '';
  }
  
  .quote p{
    display:block;
    color:$primary-color;
    font-style: normal;
    font-weight: bold;
    margin:0;
  }

  @include sm {
    .main {
      width: 90%;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      max-height: 350px;
  }
  }